@page "/"

<div>
    @texto
</div>
<textarea @bind="texto" @bind:event="oninput">
</textarea>

<input type="button" @onclick="Hola" />

@code{
    private string texto="";

    private void Hola()
    {
        Console.WriteLine("HolaMundo");
    }
}